@font-face {
    font-family: AlmaMono;
    src: url(AlmaMono-Bold.ttf);
}

* {
    font-family: 'AlmaMono' !important; 
    /*font-family: 'Manrope', sans-serif !important;*/
    cursor: url(https://tobiasahlin.com/static/cursors/default.png), auto !important;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    transition: 0.4s;
    color: #ff8922;
}

a:hover {
    color: #ffcdae;
}